# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.idea/
.vscode/

# Local development settings
instance/
.env

# Database
*.db
*.sqlite3