{% extends 'base.html' %}

{% block title %}{{ post.fields.标题 }} - 贰毛藏金阁{% endblock %}

{% block content %}
<div class="post-detail">
    <article class="post">
        <div class="post-header">
            <h1 class="post-title">{{ post.fields.标题 }}</h1>
            <div class="post-meta">
                <span class="post-date">{{ post.fields.发布时间|datetime }}</span>
            </div>
        </div>
        <div class="post-content">
            {{ post.fields.正文|smart_paragraphs|safe }}
        </div>
    </article>
</div>
{% endblock %}